*, *::before, *::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110vw;
    height: 150vh;
    background-color: #333;
    background: url("../images/1.png") no-repeat;
    
}

.container {
    width: 800px;
    max-width: 20%;
    background-color: #c0c0d6;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #3399ff;
    border-radius: 5px;
    padding: 5px 10px;
    
}